.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: .35rem;
  width: calc(100% - .5rem);
  height: calc(100% - 1rem);
  margin-top: .5rem;
  z-index: 1;
}

.menu-item {
  display: grid;
  grid-row: var(--row);
  grid-column: var(--col) / span var(--span);
  place-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  background: var(--nav-bg);
  font-size: 2.5rem;
  color: var(--fnt-dsb);
  border-radius: .2rem;
}

.purchased {
  background: var(--act);
  color: var(--fnt-main);
}