main {
  display: grid;
  grid-template-columns: 20.5% 78.5%;
  grid-template-rows: auto 7.5% 1fr;
  gap: 1%;
  width: 100%;
  height: calc(100vh - 1.8rem);
  background: var(--bg-main);
}

.window {
  grid-column: span 2;
}

.sidebar {
  grid-row: span 2;
}

.green {
  --act: #44aa00;
}
.blue {
  --act: #0033dd;
}
.purple {
  --act: #aa00aa;
}