.navbar {
  position: absolute;
  bottom: 0; right: 0;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background: var(--nav-bg);
  text-align: right;
  box-shadow: 0 0 2.5rem -.5rem var(--bg-main);
  padding: .25rem;
}

.navbar > * {
  cursor: pointer;
  padding: 0 1rem;
  margin: 0 1rem;
}

.navbar .active {
  color: yellowgreen;
}